body {
  width: 50%;
  text-align: center;
  margin: auto;
  box-sizing: border-box;
  background-color: rgb(226, 246, 255);
}

@media screen and (max-width:900px) {
  body {
    width: 80%;
  }
}

.footer{
  /* background-color: rgb(105, 105, 105); */
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.footer a , a:hover{
  text-decoration: none;
  color: rgb(56, 118, 211);
}
.footer i{
  font-size: 1.8rem;
  margin: .5rem .7rem .3rem;
  transition: all .3s ease;
}

.footer i:hover{
  color: cornflowerblue;
}